.header-row {
  height: 40px !important;
  text-align: center;
  padding: 0 !important;
  border-bottom: 2px solid #d8ebff;
  font-size: var(--h5-font-size);
  background-color: var(--selected-bg-color);
  color: var(--route-color);
}

.body-row {
  height: 40px !important;
  text-align: center;
  padding: 0 !important;
  border-bottom: 2px solid #d8ebff;
  font-size: var(--h6-font-size);
}

/* Example custom badge classes */
.badge-warning {
  background-color: orange;
  color: white;
}

.badge-primary {
  background-color: blue;
  color: white;
}

.badge-success {
  background-color: green;
  color: white;
}

.badge-secondary {
  background-color: gray;
  color: white;
}
