<div class="p-3">
  <div class="m-3">
    <h2 class="display-4">Task Manager</h2>
    <div class="row mt-3">
      <div class="col-12 d-flex flex-row justify-content-between">
        <div class="col-2" *ngFor="let card of taskStatusCounts">
          <app-statusCardCount
            [cardText]="card.cardText"
            [cardIcon]="card.cardIcon"
            [cardColor]="card.cardColor"
            [cardIconBackgroundColor]="card.cardIconBackgroundColor"
            [cardCountValue]="card.cardCountValue"
            [showIcon]="true"
            [showText]="true"
            [showCount]="true"
            [showTooltip]="false"
          />
        </div>
      </div>
    </div>
    <div class="card mt-3 p-3">
      <div class="d-flex flex-row justify-content-end">
        <span class="p-input-icon-left margin-right">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            [(ngModel)]="searchInput"
            (input)="onGlobalFilter()"
            placeholder="Search tasks"
          />
        </span>
        <p-button label="Create" icon="pi pi-plus" (onClick)="onCreateTask()" />
      </div>
      <div class="mt-3">
        <p-table
          #dt
          [value]="rowData"
          [columns]="columns"
          styleClass="p-datatable-gridlines"
          [tableStyle]="{ 'min-width': '50rem' }"
          sortMode="multiple"
          [resizableColumns]="true"
          [reorderableColumns]="true"
          [globalFilterFields]="['status.label']"
        >
          <ng-template pTemplate="header">
            <tr>
              <ng-container *ngFor="let col of columns">
                <th class="header-row" [pSortableColumn]="col.fieldname">
                  {{ col.label }}
                  <p-sortIcon
                    [field]="col.fieldname"
                    style="font-size: 12px"
                  ></p-sortIcon>
                  <ng-container *ngIf="col.fieldname === 'status'">
                    <p-columnFilter
                      type="text"
                      field="status.label"
                      display="menu"
                    >
                      <ng-template
                        pTemplate="filter"
                        let-value
                        let-filter="filterCallback"
                      >
                        <p-multiSelect
                          [ngModel]="value"
                          [options]="statuses"
                          placeholder="Any"
                          (onChange)="filter($event.value)"
                          optionLabel="label"
                        >
                          <ng-template let-option pTemplate="item">
                            <span [ngClass]="option.label | statusColor">{{
                              option.label
                            }}</span>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>
                    </p-columnFilter>
                  </ng-container>
                </th>
              </ng-container>
              <th class="header-row"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-task>
            <tr>
              <td *ngFor="let col of columns" class="body-row">
                <ng-container [ngSwitch]="col.fieldtype">
                  <ng-container *ngSwitchCase="'data'">
                    <!-- Check if the column is a nested property -->
                    <ng-container *ngIf="col.fieldname === 'status'">
                      <span [ngClass]="task.status?.label | statusColor">
                        {{ task.status?.label }}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="col.fieldname === 'priority'">
                      {{ task.priority?.label }}
                    </ng-container>
                    <ng-container
                      *ngIf="
                        col.fieldname !== 'status' &&
                        col.fieldname !== 'priority'
                      "
                    >
                      {{ task[col.fieldname] }}
                    </ng-container>
                  </ng-container>
                </ng-container>
              </td>
              <td class="body-row">
                <p-button
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success me-3"
                  (click)="onEdit(task)"
                ></p-button>
                <button
                  pButton
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                ></button>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length" class="text-center">
                No Tasks found
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
