<div class="container bg-white">
  <form [formGroup]="form" (ngSubmit)="onCreateTask()">
    <div class="row p-3">
      <div class="col-12">
        <h2>Create Task</h2>
      </div>

      <!-- Task Title -->
      <div
        class="col-12 col-lg-3 d-flex flex-row justify-content-start align-items-center w-100 mt-2"
        [ngClass]="
          isSubmitted && form.get('title')?.errors
            ? 'error'
            : 'border-bottom-input'
        "
      >
        <label class="label-width">Task Title</label>
        <input
          type="text"
          pInputText
          formControlName="title"
          placeholder="Enter task title"
          class="flex-grow"
        />
      </div>
      <small *ngIf="isSubmitted && form.get('title')?.errors" class="p-error">
        This field is required
      </small>

      <!-- Task Description -->
      <div
        class="col-12 col-lg-3 d-flex flex-row justify-content-start align-items-center w-100 mt-2"
        [ngClass]="
          isSubmitted && form.get('description')?.errors
            ? 'error'
            : 'border-bottom-input'
        "
      >
        <label class="label-width">Task Description</label>
        <input
          type="text"
          pInputText
          formControlName="description"
          placeholder="Enter task description"
          class="flex-grow"
        />
      </div>
      <small
        *ngIf="isSubmitted && form.get('description')?.errors"
        class="p-error"
      >
        This field is required
      </small>

      <!-- Due Date -->
      <div
        class="col-12 col-lg-3 d-flex flex-row justify-content-start align-items-center w-100 mt-2"
        [ngClass]="
          isSubmitted && form.get('dueDate')?.errors
            ? 'error'
            : 'border-bottom-input'
        "
      >
        <label class="label-width">Due Date</label>
        <p-calendar
          formControlName="dueDate"
          [showIcon]="true"
          placeholder="Select a due date"
          [style.width]="'100%'"
        ></p-calendar>
      </div>
      <small *ngIf="isSubmitted && form.get('dueDate')?.errors" class="p-error">
        This field is required
      </small>

      <!-- Status -->
      <div
        class="col-12 col-lg-3 d-flex flex-row justify-content-start align-items-center w-100 mt-2"
        [ngClass]="
          isSubmitted && form.get('status')?.errors
            ? 'error'
            : 'border-bottom-input'
        "
      >
        <label class="label-width">Status</label>
        <p-dropdown
          [options]="status"
          formControlName="status"
          optionLabel="label"
          placeholder="Choose Status"
          [style.width]="'100%'"
        ></p-dropdown>
      </div>
      <small *ngIf="isSubmitted && form.get('status')?.errors" class="p-error">
        This field is required
      </small>

      <!-- Priority -->
      <div
        class="col-12 col-lg-3 d-flex flex-row justify-content-start align-items-center w-100 mt-2"
        [ngClass]="
          isSubmitted && form.get('priority')?.errors
            ? 'error'
            : 'border-bottom-input'
        "
      >
        <label class="label-width">Priority</label>
        <p-dropdown
          [options]="priority"
          formControlName="priority"
          optionLabel="label"
          placeholder="Select Priority"
          [style.width]="'100%'"
        ></p-dropdown>
      </div>
      <small
        *ngIf="isSubmitted && form.get('priority')?.errors"
        class="p-error"
      >
        This field is required
      </small>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-row justify-content-center mb-3">
        <p-button
          type="submit"
          label="Create"
          icon="pi pi-plus"
          class="margin-right"
        ></p-button>
        <p-button
          type="button"
          label="Cancel"
          icon="pi pi-times"
          [outlined]="true"
          (onClick)="onCancel()"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<p-toast [life]="1000"></p-toast>
