/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
    --primary-font-size: 22px;
    --h2-font-size: 20px;
    --h3-font-size: 18px;
    --h4-font-size: 16px;
    --h5-font-size: 14px;
    --h6-font-size: 12px;
    --subtitle1-font-size: 16px;
    --subtitle2-font-size: 15px;
    --body1-font-size: 15px;
    --body2-font-size: 14px;
    --caption-font-size: 12px;
    --p-font-size: 16px;
    --label-font-size: 16px;
    --span-font-size: 16px;
    --a-font-size: 16px;
    --button-font-size: 14px;
    --selected-color: #f0f7ff;
    --selected-color-border: #d8ebff;
    --background-color: #ebeff5;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: var(--primary-font-size);
    font-weight: 600;
    line-height: calc(78 / 70);
    letter-spacing: -0.2px;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 600;
    line-height: 1.2;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: var(--h4-font-size);
    line-height: 1.5;
}

h5 {
    font-size: var(--h5-font-size);
    font-weight: 600;
}

h6 {
    font-size: var(--h6-font-size);
    font-weight: 600;
}

.subtitle1 {
    font-size: var(--subtitle1-font-size);
}

.subtitle2 {
    font-size: var(--subtitle2-font-size);
}

body1 {
    font-weight: 400;
    font-size: var(--body1-font-size);
}

body2 {
    font-weight: 400;
    font-size: var(--body2-font-size);
}

.caption {
    font-weight: 400;
    font-size: var(--caption-font-size);
}

p {
    font-size: var(--p-font-size);
    line-height: 1.5;
}

label {
    font-size: var(--label-font-size);
    font-weight: 500;
    line-height: 1.5;
}

span {
    font-size: var(--span-font-size);
}

a {
    font-size: var(--a-font-size);
    text-decoration: none;
}

button {
    height: 35px;
    width: 100%;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--button-font-size);
}

button:hover {
    opacity: 1;
}

button:disabled {
    opacity: 0.3;
}

input {
    outline: none;
    height: 35px;
    width: '100%';
    border-radius: 5px;
    font-size: var(--button-font-size);
}